NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://neondb_owner:"


JWT_ACCESS_SECRET="jwt_secret_access_32_characters_long"

JWT_REFRESH_SECRET="jwt_secret_refresh_32_characters_long"

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d

BCRYPT_ROUNDS=12


SUPABASE_URL="https://fewhfnjnjlfoubjn.supabase.co"

SUPABASE_PUBLISHABLE_KEY="sb_publishable_,cnl ejlk  bkl.vn kjmvn7k"

SUPABASE_SECRET_KEY="sb_secret_KE2BOwwHNdccnj kjn lkd lkieD"

SUPABASE_STORAGE_BUCKET=uploads-ai

USE_LOCAL_STORAGE=true


NVIDIA_API_KEY=nvapi-BOlQrQvyQw-KQtgzus9ZvesE4Ja9nclksdm ,sdmn mnSdBY5DdGgmSmB-ckTgacOjzDBIEspOCRPIqm
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
DIRECT_DATABASE_URL="localhost:5432/neondb?sslmode=require&channel_binding=require"
